* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_wrapper {
  background-color: white;
}

.report {
  z-index: 1200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results, .leaderboard {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.leaderboard table {
  widows: 30px;
}

.leaderboard tr {
  overflow-x: hidden;
}

.leaderboard td {
  max-width: 50%;
}

.nextquestion {
  background-color: rgba(240, 240, 240, 0.8);
}

.finish_button {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.show_button {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.correctanswer {
  font-size: 1.5rem;
  font-weight: bold;
}

.nextquestion {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content {
  border-radius: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.question {
  display: flex;
  justify-content: center;
  min-height: 200px;
}
.question_content {
  font-size: 1.5rem;
}
.answers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.nbsp {
  white-space: nowrap;
}
.options {
  display: flex;
  justify-content: space-between;
}

/* fancy button */
.button {
  font-size: 8vw;
  border: none;
  background-color: #ebebf0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  padding: 0;
}
@media (min-width: 40em) {
  .button {
    font-size: 2em;
  }
}
.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 10, 50, 0.2);
  transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebf0;
  z-index: -1;
}
.button:hover:before, .button:focus:before {
  -webkit-transform: translate3D(10px, 0, 0);
          transform: translate3D(10px, 0, 0);
}
.button:active:before {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.button:focus, .button:active {
  outline: none;
}
.button .button__inner {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #333;
  padding: 1em 1.5em;
  background-color: #fbfbfb;
  display: block;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  position: relative;
}
.button:hover .button__inner, .button:focus .button__inner {
  -webkit-transform: translate3D(0, -10px, 0);
          transform: translate3D(0, -10px, 0);
}
.button:active .button__inner {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.button:hover .button__inner, .button:focus .button__inner {
  background-color: #fff;
}

.button--yes {
  background-color: #E12749;
  z-index: 0;
}
.button--yes:after {
  background-color: #E12749;
}
.button--yes .button__inner {
  background-color: #F2385A;
}
.button--yes:hover .button__inner, .button--yes:focus .button__inner {
  background-color: #F2385A;
}

.button--no {
  background-color: #2387CA;
  z-index: 0;
}
.button--no:after {
  background-color: #2387CA;
}
.button--no .button__inner {
  background-color: #3498DB;
}
.button--no:hover .button__inner, .button--no:focus .button__inner {
  background-color: #3498DB;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn--gray {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.btn--gray:hover {
  background-color: #e7e7e7;
}

.hidden {
  display: none;
}